/* exercicio 01

grid-column-start: 3

*/

/* exercicio 02

grid-column-start: 5;

*/

/* exercicio 03

grid-column-end: 4;

*/

/* exercicio 04

grid-column-end: 2;

*/

/* exercicio 05

grid-column-end:-2;

*/

/* exercicio 06

grid-column-start: -3;

*/

/* exercicio 07

grid-column-end: span 2;

*/

/* exercicio 08

grid-column-end: span 5;

*/

/* exercicio 08

grid-column-end: span 5;

*/

/* exercicio 09

grid-column-start: 3;

*/

/* exercicio 10

grid-column: 4 / 6;

*/

/* exercicio 11

grid-column: 2 / 5;

*/

/* exercicio 12

grid-row-start: 3;

*/

/* exercicio 13

grid-row: 3 / 6;

*/

/* exercicio 14

grid-column: 2;
grid-row: 5;

*/

/* exercicio 15

grid-column: 2 / 6;
grid-row: 1 / 6;

*/

/* exercicio 16

grid-area: 1 / 2 / 4 / 6;

*/

/* exercicio 17

grid-area: 2 / 3 / 5 / 6;

*/

/* exercicio 18

order: 1;

*/

/* exercicio 19

order: -1;

*/

/* exercicio 20

grid-template-columns: 50% ;

*/

/* exercicio 21

 grid-template-columns: repeat(8, 12.5%);

*/

/* exercicio 22

grid-template-columns: 100px 3em 40%;

*/

/* exercicio 23

grid-template-columns: 1fr 5fr;

*/

/* exercicio 24

grid-template-columns: 50px repeat(3, 1fr) 50px;

*/

/* exercicio 25

grid-template-columns: 75px 3fr 2fr;

*/

/* exercicio 26

grid-template-rows: 50px 0 0 0 1fr;

*/

/* exercicio 27

grid-template: 60% / 200px;

*/

/* exercicio 28

grid-template: 1fr 50px / 1fr 4fr;

*/














